<!-- DESKTOP NAVBAR -->
<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top desktop-nav">
  <div class="container-fluid">

    <a class="brand-name" href="/listings">
      <i class="fa-brands fa-airbnb"></i> StayHub
    </a>

    <div class="navbar-nav ms-auto">
      <form class="search-form my-2" role="search" method="GET" action="/listings">
        <input name="q" class="form-control me-2 search-inp" type="search" placeholder="Search Destinations">
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>Search
        </button>
      </form>
    </div>

    <div class="navbar-nav ms-auto align-items-center">
      <a class="nav-link host-link" href="/listings/new">Become a Host</a>

      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">
            Display total (incl. GST)
          </label>
        </div>
      </div>

      <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
      <% } else { %>
        <a class="nav-link" href="/logout"><b>LogOut</b></a>
      <% } %>
    </div>
  </div>
</nav>


<!--  MOBILE NAVBAR -->
<nav class="mobile-navbar sticky-top">
    <a class="mobile-brand" href="/listings">
        <i class="fa-regular fa-compass"></i>
    </a>

    <form class="mobile-search-form" role="search" method="GET" action="/listings">
        <input name="q" type="search" class="mobile-search-inp" placeholder="Search Destinations">
        <button class="mobile-search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    <button class="menu-btn" data-bs-toggle="collapse" data-bs-target="#mobileMenu">
        <i class="fa-solid fa-bars"></i>
    </button>

</nav>


<div class="collapse mobile-menu-dropdown" id="mobileMenu">

    <a class="menu-link" href="/listings/new">
        Become a Host
    </a>

    <div class="menu-link">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="mobileTaxSwitch">
            <label class="form-check-label" for="mobileTaxSwitch">
                Display total price (incl. GST)
            </label>
        </div>
    </div>

    <% if(!currUser) { %>
        <a class="menu-link" href="/signup">SignUp</a>
        <a class="menu-link" href="/login">Login</a>
    <% } else { %>
        <a class="menu-link" href="/logout">LogOut</a>
    <% } %>

</div>
