<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Oops! Something went wrong!</h3>
        <%- include('includes/flash') %>
        <p><%= message %></p>
        <a href="/" class="btn btn-primary">Go Home</a>
        <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
    </div>
</div>

